# Dependencies
opensearch-py==2.4.2
python-dateutil==2.9.0.post0

# Legacy
djangorestframework==3.14.0
pytz==2022.7.1

# AWS
requests-aws4auth==1.2.3

# Tools
tox==3.28.0
invoke==1.7.3
ipython==8.22.2
ipdb==0.13.13
flake8==4.0.1
wheel==0.43.0
