# Dependencies
opensearch-py==2.2.0
python-dateutil==2.8.1

# Legacy
djangorestframework==3.11.2
pytz==2022.7.1

# AWS
requests-aws4auth==1.2.3

# Tools
tox==3.24.5
invoke==1.7.3
ipython==8.13.2
ipdb==0.13.3
flake8==4.0.1
wheel==0.38.4
