# Development
flake8==4.0.1
wheel==0.38.4

# Common
requests==2.27.1
opensearch-py==2.0.0

# Legacy
djangorestframework==3.11.2
pytz==2022.7.1

# Tools
tox==3.24.5
invoke==1.7.3
ipython==8.10.0
tqdm==4.50.2
ipdb==0.13.3
factory-boy==3.2.0
